- if grid.empty?
  = grid.empty_message
- else
  %table.table.table-striped
    %thead
      %tr
        - grid.headers.each do |header|
          %th{class: header.klass}
            .greedo-header
              = header.label
              .greedo-order
                = link_to header.order_asc_path do
                  %i.glyphicon{class: header.order_asc_class}
                = link_to header.order_desc_path do
                  %i.glyphicon{class: header.order_desc_class}

    %tbody
      - grid.rows.each do |row|
        %tr{id: row.id}
          - row.columns.each do |column|
            %td{class: column.klass}
              = column.value

- if grid.show_pagination?
  = will_paginate grid.paginator.records, param_name: param_name, renderer: BootstrapPagination::Rails
